<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem Vindo</title>
    <link rel="stylesheet" href="/css/paginaInicial.css">
</head>
<body>
    <div class="container">
        <h1>Seja Bem Vindo</h1>
        
        <div class="button-container">
            <button onclick="window.location.href='cliente.html'">Cliente</button>
            <button onclick="window.location.href='orcamento.html'">Orçamento</button>
            <button onclick="window.location.href='estoque.html'">Estoque</button>
            <button onclick="window.location.href='funcionario.html'">Funcionário</button>
            <button onclick="window.location.href='venda.html'">Venda</button>
        </div>

        <button class="exit-button" onclick="window.location.href='logout.html'">Sair</button>
    </div>
</body>
</html>